* {
    margin: 0px;
    color: #abb2bf;
    font-family: sans-serif;
}

.header { 
    width: 100%;
    background: #61afef;
}

.header h1, .header p {
    color: #282c34;
}

.footer {
    width: 100%;
    background: #61afef;
    margin-top: 100px;
}

.footer p, .footer p a {
    color: #282c34;
    text-decoration: none;
}

.newTaskDiv {
   padding: 15px;
   display: flex;
   justify-content: center;
}

#newTaskBtn {
    background-color: hsl(207,81.6%,65.9%);
    width: 10%;
    height: 30px;
}

#newTaskBtn:hover {
    background-color: hsl(207,81.6%,60.9%);
}

/* TODO: menyesuaikan width & height di setiap device */

#taskNameInput {
    color: #282c34;
    width: 20vw;
    height: 2vw;
    font-size: 1vw;
    width: 25%;
    height: 25px;
}

.task {
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    display: flex;
}

#taskName {
    flex: 1;
}

#deleteBtn {
    background-color: hsl(355.3,65.2%,65.1%);
    color: #ffffff;
    padding: 1vw 2vw;
}

/* end TODO */

#deleteBtn:hover {
    background-color: hsl(355.3,65.2%,60.1%);
}

button {
    border: none;
    color: #282c34;
}

body {
    background: #282c34;
}

/* responsive thing */

/* mobile */
@media screen and (min-width: 320px) {
    #taskName {
        font-size: 4.5vw;
    }

    #taskNameInput {
        font-size: 5vw;
    }

    .task {
        margin-bottom: 1vw;
    }
}

/* laptop (normal) */
@media screen and (min-width: 1024px) {
    #taskName {
        font-size: 1.7vw;
    }

    #taskNameInput {
        font-size: 1.7vw;
    }

    .task {
        margin-bottom: 1vw;
    }
}

/* desktop (large), 4K Monitor */
@media screen and (min-width: 1440px) {
    .task #taskname {
        font-size: 2.5vw;
    }
}
