* {
    margin: 0px;
    color: #abb2bf;
    font-family: sans-serif;
}

button {
    border: none;
    color: #282c34;
    width: 10%;
}

body {
    background: #282c34;
}

.header { 
    width: 100%;
    background: #61afef;
}

.header h1, .header p {
    color: #282c34;
}

.newTaskDiv {
   padding: 15px;
   display: flex;
   justify-content: center;
}

#taskNameInput {
    color: #282c34;
    width: 20vw;
    height: 2vw;
    font-size: 25px;
    width: 25%;
    height: 25px;
    border-radius: 5px;
}

#newTaskBtn {
    background-color: hsl(207,81.6%,65.9%);
    width: 0px;
    height: 30px;
    border-radius: 5px;
}

#newTaskBtn:hover {
    background-color: hsl(207,81.6%,60.9%);
}

.task {
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
}

#taskName {
    flex: 1;
}

#deleteBtn {
    background-color: hsl(355.3,65.2%,65.1%);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

#deleteBtn:hover {
    background-color: hsl(355.3,65.2%,60.1%);
}

.footer {
    width: 100%;
    background: #61afef;
    margin-top: 100px;
}

.footer p, .footer p a {
    color: #282c34;
    text-decoration: none;
}

/* mobile */
@media screen and (min-width: 320px) {
    #taskNameInput {
        width: 60%;
        font-size: 15px;
    }

    #newTaskBtn {
        width: 20%;
    }

    #deleteBtn {
        width: 20%;
    }
}/**/

/* tablet, laptop */
@media screen and (min-width: 768px) {
    #taskNameInput {
        width: 60%;
        font-size: 15px;
    }

    #newTaskBtn {
        width: 10%;
    }

    #deleteBtn {
        width: 10%;
    }
}
